@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome, to my Address Book</h1>
    
</div>
<div class="mt-5">
    <p>This appliction is an Address Book that you can add people to to track thier name, address, contact info and an iamge to.</p>
    <p>I created this using C#, ASP.NET Core, HTML5, CSS3, Javascript, BootStrap and I used Postgres as the db.</p>
</div>
